p{
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 200px;
    border: lawngreen solid 7px;
  
    
}

img{
    width: 200px;
    height: 250px;
    margin-left: 600px;
    border: 8px solid rgb(245, 244, 244);
}
body{
    background-color: rgba(60, 167, 27, 0.589);
}